.hero {
    &__wrapper {
        padding: 224px 0 91px 0;
        background: linear-gradient(75.26deg, #FF6A3A 1.74%, #ED3B01 100.82%);
        border-radius: 0px;

        @media #{$lg} {
            padding: 180px 0 80px 0;
        }

        @media #{$md} {
            padding: 160px 0 70px 0;
        }

        @media #{$sm} {
            padding: 150px 0 60px 0;
        }
    }

    &__heading {
        .title {
            font-weight: 500;
            font-size: 96px;
            line-height: 96px;
            letter-spacing: -0.05em;
            color: #FFFFFF;

            @media #{$lg} {
                font-size: 70px;
                line-height: 85px;
            }

            @media #{$md} {
                font-size: 65px;
                line-height: 70px;
                margin-bottom: 30px;
            }

            @media #{$xs} {
                font-size: 50px;
                line-height: 52px;
                margin-bottom: 30px;
            }

            @media #{$md} {
                & br {
                    display: none;
                }
            }
        }
    }

    &__content {
        margin-left: 32px;

        @media #{$xxl} {
            margin-left: 0;
        }

        .decs {
            font-weight: 400;
            font-size: 18px;
            line-height: 21px;
            letter-spacing: -0.03em;
            color: #FFFFFF;
            margin-bottom: 22px;
            margin-top: 15px;

            @media #{$xxl} {
                & br {
                    display: none;
                }
            }
        }
    }

    &__list {
        & li {
            list-style: none;
            font-weight: 400;
            font-size: 18px;
            line-height: 21px;
            color: #FCF7F3;
            font-family: var(--font_BDOGrotesk);
            margin-bottom: 7px;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    &__shape {
        margin-top: 52px;

        @media #{$xs} {
            margin-top: 40px;
        }
    }
}

// hero-section-2 css

.hero-section-2 {
    &__wrapper {
        padding-top: 157px;

        @media #{$lg} {
            padding-top: 120px;
        }
    }

    &__wrapper-box {
        padding: 30px 50px 42px 50px;
        background: #F1F1F1;
        border-radius: 20px;

        @include dark {
            background: #141414;
            border: 1px solid rgba(255, 255, 255, 0.05);
        }

        @media #{$xl} {
            padding-left: 40px;
            padding: 30px 20px 42px 20px;
        }
    }

    &__content {
        .title {
            font-weight: 500;
            font-size: 128px;
            line-height: 128px;
            color: var(--primary);
            font-family: var(--font_BDOGrotesk);
            margin-bottom: 31px;

            @media #{$xl} {
                font-size: 114px;
                line-height: 116px;
            }

            @media #{$lg} {
                font-size: 85px;
                line-height: 86px;

                & br {
                    display: none;
                }
            }

            @media #{$sm} {
                font-size: 60px;
                line-height: 65px;
            }

            @media #{$xs} {
                font-size: 33px;
                line-height: 40px;
                margin-bottom: 20px;
            }

        }

        .decs {
            font-weight: 400;
            font-size: 18px;
            line-height: 25px;
            letter-spacing: -0.03em;
            color: rgba(17, 17, 17, 0.5);
            font-family: var(--font_body);

            @include dark {
                color: rgba(255, 255, 255, 0.5);
            }

            @media #{$xs} {
                & br {
                    display: none;
                }
            }
        }
    }

    &__social-box {
        margin-left: 80px;
        margin-top: 111px;

        @media #{$xl} {
            margin-left: 28px;
            margin-top: 40px;
        }

        @media #{$lg} {
            margin-left: 0px;
            margin-top: 40px;
        }

        @media #{$md} {
            margin-top: 25px;
        }

        .decs {
            font-weight: 400;
            font-size: 18px;
            line-height: 20px;
            letter-spacing: -0.05em;
            color: rgba(17, 17, 17, 0.5);
            margin-bottom: 45px;

            & strong {
                text-decoration: underline;
                font-weight: 400;
                font-size: 18px;
                line-height: 20px;
                letter-spacing: -0.05em;
                color: rgba(17, 17, 17, 0.5);

                @include dark {
                    color: rgba(255, 255, 255, 0.5);
                }
            }

            @media #{$md} {
                margin-bottom: 20px;

                & br {
                    display: none;
                }
            }

            @include dark {
                color: rgba(255, 255, 255, 0.5);
            }
        }
    }

    &__list {
        display: flex;
        flex-wrap: wrap;

        & li {
            font-weight: 400;
            font-size: 18px;
            line-height: 22px;
            color: rgba(17, 17, 17, 0.5);
            list-style: none;
            margin: 0;
            margin-right: 20px;
            margin-bottom: 9px;
            position: relative;
            transition: all .3s ease-in-out;

            @include dark {
                color: rgba(255, 255, 255, 0.5);
                &::before {
                    width: 100%;
                    height: 1px;
                    background-color: currentColor;
                    content: "";
                    position: absolute;
                    left: 0;
                    bottom: 0;
                    transition: all 0.5s;
                    color: rgba(255, 255, 255, 0.5);
                }
            }

            &:last-child {
                margin-right: 0;
            }

            &::before {
                width: 100%;
                height: 1px;
                background-color: currentColor;
                content: "";
                position: absolute;
                left: 0;
                bottom: 0;
                transition: all 0.5s;
                color: rgba(17, 17, 17, 0.5);
            }

            &:hover {
                & a {
                    color: var(--primary);
                }

                @include dark {
                    color: var(--white);
                    &::before {
                        width: 0%;
                        color: var(--white);
                    }
                }

                &::before {
                    width: 0%;
                    color: var(--primary);
                }
            }
        }
    }

    &__item {
        .hero-btn {
            margin-bottom: 10px;
            margin-top: 10px;

            & a {
                padding: 30px 30px;
                background: #FF6A3A;
                display: inline-block;
                border-radius: 20px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                font-weight: 400;
                font-size: 20px;
                line-height: 16px;
                color: #FFFFFF;

                & i {
                    font-size: 30px;
                    color: var(--white);
                    font-weight: 400;
                }
            }
        }
    }

    &__item-box {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 10px;

        @media #{$md} {
            grid-template-columns: repeat(2, 1fr);
        }

        @media #{$sm} {
            grid-template-columns: repeat(2, 1fr);
        }
        @media #{$xs} {
            grid-template-columns: repeat(1, 1fr);
        }

        .item-1 {
            & a {
                position: relative;

                &::before {
                    position: absolute;
                    content: '';
                    left: 0;
                    top: 0;
                    height: 100%;
                    width: 0;
                    background: rgba(255, 255, 255, 0.2);
                    border-radius: 20px;
                    opacity: 0;
                    visibility: hidden;
                    transition: all .4s ease-in-out;
                }

                &:hover {
                    z-index: 1;

                    &::before {
                        position: absolute;
                        content: '';
                        left: 0;
                        top: 0;
                        height: 100%;
                        width: 100%;
                        background: rgba(255, 255, 255, 0.2);
                        border-radius: 20px;
                        transition: all .4s ease-in-out;
                        opacity: 1;
                        visibility: visible;
                        z-index: -1;
                    }

                }
            }
        }

        .item-2 {
            & a {
                background: #1A1A1A;
                position: relative;

                &::before {
                    position: absolute;
                    content: '';
                    left: 0;
                    top: 0;
                    height: 100%;
                    width: 0;
                    background: rgba(255, 255, 255, 0.2);
                    border-radius: 20px;
                    opacity: 0;
                    visibility: hidden;
                    transition: all .4s ease-in-out;
                }

                &:hover {
                    z-index: 1;

                    &::before {
                        position: absolute;
                        content: '';
                        left: 0;
                        top: 0;
                        height: 100%;
                        width: 100%;
                        background: rgba(255, 255, 255, 0.2);
                        border-radius: 20px;
                        transition: all .4s ease-in-out;
                        opacity: 1;
                        visibility: visible;
                        z-index: -1;
                    }

                }
            }
        }

        .item-3 {
            & a {
                background: #F1F1F1;
                color: var(--primary);
                position: relative;

                @include dark {
                    color: #111111;
                }

                & i {
                    color: var(--primary);

                    @include dark {
                        color: #111111;
                    }
                }

                &::before {
                    position: absolute;
                    content: '';
                    left: 0;
                    top: 0;
                    height: 100%;
                    width: 0;
                    background: rgb(17 17 17 / 10%);
                    border-radius: 20px;
                    opacity: 0;
                    visibility: hidden;
                    transition: all .4s ease-in-out;
                }

                &:hover {
                    z-index: 1;

                    &::before {
                        position: absolute;
                        content: '';
                        left: 0;
                        top: 0;
                        height: 100%;
                        width: 100%;
                        background: rgb(17 17 17 / 10%);
                        border-radius: 20px;
                        transition: all .4s ease-in-out;
                        opacity: 1;
                        visibility: visible;
                        z-index: -1;
                    }

                }
            }
        }
    }

    &__thumb {
        overflow: hidden;
        border-radius: 20px;

        & img {
            border-radius: 20px;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}

// hero-section-3 css
.hero-section-3 {
    &__wrapper {
        padding-top: 210px;

        @media #{$lg} {
            padding-top: 170px;
        }

        @media #{$sm} {
            padding-top: 150px;
        }

        @media #{$xs} {
            padding-top: 130px;
        }
    }

    &__info {
        .title {
            font-weight: 400;
            font-size: 96px;
            line-height: 105px;
            letter-spacing: -0.05em;
            color: var(--primary);
            font-family: var(--font_BDOGrotesk);
            margin-bottom: 36px;

            @media #{$xl} {
                font-size: 80px;
                line-height: 87px;
            }

            @media #{$lg} {
                font-size: 68px;
                line-height: 72px;

                & br {
                    display: none;
                }
            }

            @media #{$sm} {
                font-size: 60px;
                line-height: 63px;
            }

            @media #{$xs} {
                font-size: 35px;
                line-height: 41px;
            }
        }
    }

    &__meta-box {
        display: grid;
        grid-template-columns: 1fr 190px;
        gap: 160px;
        margin-left: -10px;
        margin-top: 40px;
        align-items: center;
        justify-content: space-between;

        @media #{$xxl} {
            gap: 80px;
        }

        @media #{$xl} {
            margin-top: 0;
            margin-bottom: 30px;
        }

        @media #{$lg} {
            grid-template-columns: 1fr;
            gap: 30px;
            margin-left: 0;
        }

        @media #{$md} {
            grid-template-columns: 1fr auto;
            gap: 30px;
            margin-left: 0;
        }

        @media #{$sm} {
            grid-template-columns: 1fr;
            gap: 20px;
            margin-left: 0;
        }

        .content {
            .decs {
                font-weight: 500;
                font-size: 16px;
                line-height: 21px;
                letter-spacing: -0.04em;
                color: rgba(17, 17, 17, 0.5);
                @include dark {
                    color: rgba(255, 255, 255, 0.5);
                }
            }
        }
    }

    &__author-box {
        display: flex;
        gap: 10px;
        align-items: center;
        flex-wrap: wrap;
        margin-bottom: 18px;

        .author-img {
            & img {
                width: 63px;
                height: 63px;
                object-fit: cover;
            }

            .author {
                margin-left: -17px;
            }
        }

        .author-text {
            .decs {
                font-weight: 500;
                font-size: 18px;
                line-height: 22px;
                color: var(--primary);
                font-family: var(--font_body);
            }
        }
    }

    &__list {
        & ul {
            display: flex;
            flex-wrap: wrap;

            & li {
                font-weight: 500;
                font-size: 18px;
                line-height: 22px;
                color: rgba(17, 17, 17, 0.5);
                font-family: var(--font_body);
                list-style: none;
                margin-right: 20px;
                margin-bottom: 10px;

                @include dark {
                    color: rgba(255, 255, 255, 0.5);
                }

                &:last-child {
                    margin-bottom: 0;
                    margin-right: 0;
                }

                & a {
                    background: linear-gradient(#111111 0%, #111111 98%);
                    background-size: 0 1px;
                    background-repeat: no-repeat;
                    background-position: left 100%;
                    color: rgba(17, 17, 17, 0.5);
                    transition: all 0.3s ease-in-out;

                    &:hover {
                        color: var(--primary);
                        background-size: 100% 2px;
                    }
                }

                @include dark {
                    & a {
                        background: linear-gradient(#FFFFFF 0%, #FFFFFF 98%);
                        background-size: 0 1px;
                        background-repeat: no-repeat;
                        background-position: left 100%;
                        color: rgba(255, 255, 255, 0.5);
                        transition: all 0.3s ease-in-out;

                        &:hover {
                            color: #FFFFFF;
                            background-size: 100% 2px;
                        }
                    }
                }
            }
        }
    }

    &__item-wrapper {
        display: grid;
        grid-template-columns: 1fr 435px 535px;
        gap: 20px;
        padding-top: 50px;
        border-top: 1px solid rgba(17, 17, 17, 0.1);
        @include dark {
            border-top: 1px solid rgba(255, 255, 255, 0.1);
        }

        @media #{$xl} {
            grid-template-columns: 1fr 361px 376px;
        }

        @media #{$lg} {
            grid-template-columns: 1fr 313px 320px;
        }

        @media #{$md} {
            grid-template-columns: 380px 1fr;
        }

        @media #{$sm} {
            grid-template-columns: 1fr;
        }
    }

    &__video {
        height: 100%;
        width: 100%;
        object-fit: cover;

        .service-video {
            height: 100%;
            width: 100%;
            object-fit: cover;
            border-radius: 15px;
        }
    }

    &__card {
        background: #FF6A3A;
        border-radius: 15px;
        padding: 45px 50px;

        @media #{$lg} {
            padding: 45px 15px;
        }

        .title {
            font-weight: 400;
            font-size: 33.7979px;
            line-height: 33px;
            letter-spacing: -0.05em;
            color: #FFFFFF;
            margin-bottom: 200px;

            @media #{$md} {
                & br {
                    display: none;
                }
            }

            @media #{$sm} {
                margin-bottom: 70px;
            }

            @media #{$xs} {
                font-size: 27.7979px;
                line-height: 28px;
                margin-bottom: 50px;
            }
        }

        .text {
            font-weight: 400;
            font-size: 20px;
            line-height: 28px;
            letter-spacing: -0.01em;
            color: #FFFFFF;

            @media #{$xl} {
                & br {
                    display: none;
                }
            }
        }
    }

    &__item {
        background: #F1F1F1;
        border-radius: 15px;
        padding: 50px 50px 45px 50px;
        @include dark {
            background: var(--dark);
        }

        @media #{$lg} {
            padding: 45px 15px;
        }

        .decs {
            font-weight: 400;
            font-size: 18px;
            line-height: 25px;
            letter-spacing: -0.02em;
            color: rgba(17, 17, 17, 0.5);
            @include dark {
                color: rgba(255, 255, 255, 0.5);
            }

            @media #{$xl} {
                & br {
                    display: none;
                }
            }
        }

        .rr-btn {
            padding: 25px 50px;
            margin-top: 23px;
            @include dark {
                background: var(--white);
            }
            .text-one{
                @include dark {
                    color: #111111;
                }
            }
        }
    }

    &__list-box {
        display: flex;
        gap: 15px;
        align-items: center;
        margin-bottom: 57px;

        @media #{$xs} {
            margin-bottom: 21px;
        }
    }

    &__img {
        width: 74px;
        height: 139px;
        object-fit: cover;

        & img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 37px;
        }
    }

    &__brand {
        & ul {
            & li {
                font-weight: 400;
                font-size: 18px;
                line-height: 22px;
                color: var(--primary);
                font-family: var(--font_body);
                list-style: none;
                margin-bottom: 2px;
                @include dark {
                    color: var(--white);
                }
            }
        }
    }
}

// hero-section-5 css

.hero-section-5 {
    padding-top: 71px;

    @media #{$xl} {
        padding-top: 80px;
    }

    @media #{$lg} {
        padding-top: 70px;
    }

    &__wrapper {
        background: linear-gradient(76.77deg, #FF6A3A 0.36%, #FF3E00 37.22%, #742004 99.66%);
        padding-top: 430px;
        padding-bottom: 100px;
        margin-left: 15px;
        margin-right: 15px;
        border-radius: 0 0 20px 20px;
        position: relative;

        @media #{$xl} {
            padding-top: 250px;
        }

        @media #{$lg} {
            padding-top: 170px;
        }

        @media #{$md} {
            padding-top: 150px;
        }

        @media #{$sm} {
            padding-bottom: 70px;
        }

        @media #{$xs} {
            padding-bottom: 60px;
            padding-top: 130px;
        }

        .shapes {
            .shape-1 {
                position: absolute;
                left: 0;
                top: 0px;

                @media #{$xl} {
                    top: -2px;
                }

                @media #{$lg} {
                    top: -3px;
                }

                @media #{$md} {
                    top: -5px;
                }

                @media #{$sm} {
                    top: -6px;
                }

                @media #{$xs} {
                    top: -9px;
                }

                & img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }

            .shape-2 {
                position: absolute;
                left: 50%;
                transform: translate(-50%, -0%);
                text-align: center;
                bottom: 0;
                z-index: 1;
                mix-blend-mode: multiply;

                & img {
                    object-fit: cover;
                }

                @media #{$lg} {
                    display: none;
                }
            }

            .shape-3 {
                position: absolute;
                left: 50%;
                top: 39.5%;
                transform: translate(-50%, -50%);
                text-align: center;

                @media #{$xl} {
                    top: 46.5%;
                }

                @media #{$lg} {
                    display: none;
                }
            }
        }

        .hero__info-left {
            position: absolute;
            left: 26.1%;
            top: 38%;
            transform: translate(-50%, -50%);
            z-index: 2;

            @media #{$xxl} {
                left: 17.4%;
            }

            @media #{$xl} {
                top: 27%;
                left: 15.8%;
            }

            @media #{$lg} {
                top: 20%;
                left: 15.8%;
            }

            @media #{$md} {
                top: 20%;
                left: 20.8%;
            }

            @media #{$sm} {
                top: 17%;
                left: 28%;
            }

            @media #{$xs} {
                top: 14%;
                left: 54%;
                width: 100%;
            }

            & span {
                font-weight: 400;
                font-size: 20px;
                line-height: 28px;
                letter-spacing: -0.05em;
                color: #FFFFFF;
                font-family: var(--font_BDOGrotesk);

                @media #{$xs} {
                    font-size: 16px;
                }

                & svg {
                    margin-left: 5px;
                }
            }
        }

        .hero__info-right {
            position: absolute;
            right: 8.8%;
            top: 38%;
            transform: translate(-50%, -50%);
            z-index: 2;

            @media #{$xxl} {
                right: -6.8%;
            }

            @media #{$xl} {
                top: 24%;
                right: -10.8%;
            }

            @media #{$lg} {
                top: 20%;
                right: -8.8%;
            }

            @media #{$md} {
                top: 20%;
                right: -14.8%;
            }

            @media #{$sm} {
                top: 12%;
                left: 40%;
            }

            @media #{$xs} {
                top: 8%;
                left: 54%;
                width: 100%;
            }

            & span {
                font-weight: 400;
                font-size: 20px;
                line-height: 28px;
                letter-spacing: -0.05em;
                color: #FFFFFF;
                font-family: var(--font_BDOGrotesk);

                @media #{$xs} {
                    font-size: 15px;
                    line-height: 26px;
                }
            }
        }
    }

    &__list {
        max-width: 413px;
        position: relative;
        z-index: 2;

        @media #{$sm} {
            max-width: 100%;
        }

        .title {
            font-weight: 400;
            font-size: 20px;
            line-height: 28px;
            letter-spacing: -0.05em;
            color: #FFFFFF;
            margin-bottom: 40px;

            & svg {
                margin-left: 5px;
                margin-top: 15px;
            }
        }

        & ul {
            & li {
                list-style: none;
                border-bottom: 1px solid rgba(255, 255, 255, 0.3);
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 6px 0;

                &:first-child {
                    border-top: 1px solid rgba(255, 255, 255, 0.3);
                }

                & span {
                    font-weight: 400;
                    font-size: 18px;
                    line-height: 30px;
                    letter-spacing: -0.05em;
                    color: #FCF7F3;
                    font-family: var(--font_BDOGrotesk);
                }

                .number {
                    font-weight: 400;
                    font-size: 18px;
                    line-height: 30px;
                    letter-spacing: -0.05em;
                    color: #FCF7F3;
                    font-family: var(--font_BDOGrotesk);
                }
            }
        }
    }

    &__content {
        margin-left: 30px;
        margin-top: 15px;
        position: relative;
        z-index: 2;

        @media #{$lg} {
            margin-left: 0px;
            margin-top: 0px;
        }

        @media #{$sm} {
            margin-left: 0px;
            margin-top: 40px;
        }

        .title {
            font-weight: 400;
            font-size: 170px;
            line-height: 130px;
            letter-spacing: -0.05em;
            color: var(--white);
            font-family: var(--font_Bayon);
            margin-bottom: 31px;

            @media #{$xxl} {
                font-size: 140px;
                line-height: 130px;
            }

            @media #{$xl} {
                font-size: 113px;
                line-height: 111px;
            }

            @media #{$lg} {
                font-size: 130px;
                line-height: 100px;
            }

            @media #{$md} {
                font-size: 120px;
                line-height: 96px;
            }

            @media #{$sm} {
                font-size: 102px;
                line-height: 62px;

                & br {
                    display: none;
                }
            }

            @media #{$xs} {
                font-size: 54px;
                line-height: 52px;
                margin-bottom: 15px;
            }
        }

        .decs {
            font-weight: 400;
            font-size: 20px;
            line-height: 28px;
            letter-spacing: -0.05em;
            color: var(--white);
            font-family: var(--font_BDOGrotesk);
        }
    }
}

// hero-section-6 css

.hero-section-6 {
    padding-top: 20px;

    &__wrapper {
        padding-top: 390px;
        padding-bottom: 50px;
        border-radius: 20px;
        object-fit: cover;
        background-size: cover;
        position: relative;

        @media #{$xl} {
            padding-top: 230px;
        }

        @media #{$lg} {
            padding-top: 180px;
        }

        @media #{$md} {
            padding-top: 140px;
        }

        @media #{$sm} {
            padding-top: 120px;
        }

        &::before {
            position: absolute;
            content: '';
            left: 0;
            top: 0;
            height: 100%;
            width: 100%;
            background: rgba(0, 0, 0, 0.3);
            border-radius: 20px;
        }
    }

    &__content {
        position: relative;
        z-index: 1;
        text-align: center;

        .title {
            font-weight: 400;
            font-size: 96px;
            line-height: 96px;
            letter-spacing: -0.07em;
            color: var(--white);
            font-family: var(--font_BDOGrotesk);
            margin-bottom: 326px;

            @media #{$xl} {
                margin-bottom: 160px;
            }

            @media #{$lg} {
                margin-bottom: 100px;
            }

            @media #{$md} {
                font-size: 70px;
                line-height: 75px;
                margin-bottom: 80px;
            }

            @media #{$sm} {
                font-size: 55px;
                line-height: 57px;
                margin-bottom: 41px;
            }

            @media #{$xs} {
                font-size: 36px;
                line-height: 43px;
                margin-bottom: 41px;
            }
        }

        .down {
            & h4 {
                font-weight: 500;
                font-size: 16px;
                line-height: 21px;
                letter-spacing: -0.01em;
                text-decoration-line: underline;
                text-transform: uppercase;
                color: #FFFFFF;

                & a {
                    &:hover {
                        color: #ffff;
                    }
                }

            }
        }
    }
}

// hero-section-10 css

.hero-section-10 {
    padding-top: 88px;
    border-bottom: 2px solid rgba(17, 17, 17, 0.1);
    background: #FCF7F3;
    @include dark {
        background: var(--dark);
        border-bottom: 2px solid rgba(255, 255, 255, 0.1);
    }

    @media #{$lg} {
        padding-top: 80px;
    }

    &__wrapper {
        padding-top: 58px;
        padding-bottom: 45px;
        margin: 0 15px 0 15px;
        border-left: 1px solid rgba(17, 17, 17, 0.1);
        border-right: 1px solid rgba(17, 17, 17, 0.1);
        position: relative;
        @include dark {
            border-left: 1px solid rgba(255, 255, 255, 0.1);
            border-right: 1px solid rgba(255, 255, 255, 0.1);
        }

        @media #{$sm} {
            padding-top: 40px;
        }

    }

    &__item {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    &__heading {
        .title {
            font-weight: 400;
            font-size: 140px;
            line-height: 120px;
            letter-spacing: -0.05em;
            color: var(--primary);
            font-family: var(--font_BDOGrotesk);

            @media #{$xl} {
                font-size: 115px;
                line-height: 115px;
            }

            @media #{$lg} {
                font-size: 90px;
                line-height: 93px;
            }

            @media #{$md} {
                & br {
                    display: none;
                }
            }

            @media #{$sm} {
                font-size: 70px;
                line-height: 68px;
            }

            @media #{$xs} {
                font-size: 40px;
                line-height: 42px;
            }

        }
    }

    &__content {
        padding-top: 292px;

        @media #{$xl} {
            padding-top: 150px;
        }

        @media #{$lg} {
            padding-top: 110px;
        }

        @media #{$md} {
            padding-top: 0px;
            margin-top: 20px;
        }

        .decs {

            font-weight: 400;
            font-size: 18px;
            line-height: 24px;
            color: rgba(17, 17, 17, 0.5);
            font-family: var(--font_BDOGrotesk);
            @include dark {
                color: rgba(255, 255, 255, 0.5);
            }

            @media #{$md} {
                & br {
                    display: none;
                }
            }

        }
    }
}


// hero-section-4 css

.hero-section-4 {
    // padding-top: 35px;
    padding-left: 15px;
    padding-right: 15px;



    &__wrapper {
        padding-top: 164px;
        // padding-bottom: 100px;
        border-radius: 20px;
        // position: relative;
        background-position: center center;
        // max-width: 1890px;
        position: relative;

        @media #{$xxl} {
            padding-top: 130px;
        }

        @media #{$lg} {
            padding-top: 95px;
            padding-bottom: 0px;
        }

        .header__nav {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 45px;
            padding-left: 35px;

            @media #{$xl} {
                margin-top: 52px;
            }

        }

        .main-menu li a {
            color: #ffff;
        }

        .shapes {
            .shape-1 {
                position: absolute;
                left: 0px;
                top: 36%;
            }

            .shape-2 {
                position: absolute;
                right: 0px;
                top: 36%;
            }
        }
    }

    &__background-thumb {
        position: absolute;
        top: 34px;
        right: 0;

        @media #{$xxl} {
            height: 845px;
        }

        @media #{$xl} {
            height: 830px;
        }

        @media #{$lg} {
            height: 700px;
        }

        @media #{$md} {
            height: 970px;
        }

        @media #{$sm} {
            height: 845px;
        }

        @media #{$xs} {
            top: -15px;
            height: 1020px;
        }

        & img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 20px;
        }
    }

    &__info {
        position: relative;

        .shape-2 {
            position: absolute;
            right: 55px;
            z-index: 9;
            bottom: 18px;

            @media #{$xxl} {
                right: 0;
            }

            @media #{$xl} {
                display: none;
            }
        }

        .title {
            font-weight: 400;
            font-size: 140px;
            line-height: 135px;
            letter-spacing: -0.05em;
            color: #111111;
            font-family: var(--font_BDOGrotesk);
            margin-bottom: 45px;

            @media #{$xxl} {
                font-size: 128px;
                line-height: 128px;
            }

            @media #{$lg} {
                font-size: 95px;
                line-height: 95px;
            }

            @media #{$md} {
                font-size: 80px;
                line-height: 87px;

                & br {
                    display: none;
                }
            }

            @media #{$sm} {
                font-size: 57px;
                line-height: 63px;
            }

            @media #{$xs} {
                font-size: 51px;
                line-height: 50px;
            }
        }
    }

    &__box {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        gap: 10px;
        padding-top: 50px;
        position: relative;
        z-index: 999999;

        @media #{$md} {
            grid-template-columns: repeat(3, 1fr);
        }

        @media #{$xs} {
            grid-template-columns: repeat(2, 1fr);
        }
    }

    &__thumb {
        position: relative;
        z-index: 999999999999996;
        cursor: pointer; // Show it's interactive
        transition: transform 0.3s ease;

        &:hover {
            transform: scale(1.05); // Optional: slight zoom on hover
        }

        & img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 20px;
        }
    }

    &__full-thumb {
        img {
            position: absolute;
            width: 100vw;
            z-index: 888;
            top: 0%;
            left: 0%;
            height: 107vh;
            object-fit: cover;
            transition: all 0.6s ease; // Smooth transition effect
            background-size: cover;

            @media #{$xxl} {
                height: 113vh;
            }

            @media #{$lg} {
                height: 93vh;
            }

            @media #{$md} {
                height: 126vh;
            }
        }
    }

    &__list {
        ul {
            li {
                font-weight: 400;
                font-size: 18px;
                line-height: 21px;
                letter-spacing: -0.03em;
                color: #111111;
                list-style: none;
                font-family: var(--font_BDOGrotesk)
            }
        }
    }

    &__inner {
        border-bottom: 1px solid rgba(17, 17, 17, 0.3);
        position: relative;
    }

    &__content {
        margin-top: 105px;
        margin-left: 16px;
        position: relative;

        @media #{$xxl} {
            margin-left: 0;
        }

        @media #{$md} {
            margin-top: 0;
        }

        .text {
            font-weight: 400;
            font-size: 20px;
            line-height: 28px;
            letter-spacing: -0.05em;
            color: #111111;
            margin-top: 64px;

            @media #{$xxl} {
                & br {
                    display: none;
                }
            }

            @media #{$md} {
                margin-top: 25px;
                margin-bottom: 40px;
            }
        }
    }

    // &__wrap {
    //     position: relative;
    //     z-index: 3;
    // }
}